.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* css  perso */
h1, h2, h3, h4, h5, h6, p, ul, li, button, body {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* background */

.bg-white{
  background-color: white;
}
.bg-grey-100{
  background-color: #f2f2f2;
}
.bg-black{
  background-color: black;
}
/* color */

.c-white{
  color: white;
}
.c-red{
  color: red;
}

/* display */
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
/* size */
.h1{
  font-size: 60px;
  font-weight: bold;
}
.h2{
  font-size: 50px;
  font-weight: bold;
}
.h3{
  font-size: 25px;
}
.h4{
  font-size: 20px;
}
.h5{
  font-size: 1.2em;
}
/* text */
.t-underline{
  text-decoration: underline;
}
.t-justify{
  text-align: justify;
}
.j-end{
  justify-content: end;
}
.lign-h-6{
  line-height: 60px;
}
.bold{
  font-weight: bold;
}
.text-start{
  text-align: left;
}
.text-center{
  text-align: center;
}
.t-between{
  justify-content: space-between;
}
.t-around{
  justify-content: space-around;
}
/* margin */

.mb-1{
  margin-bottom: 10px;
}
.mb-2{
  margin-bottom: 20px;
}
.ml-1vw{
  margin-left: 1vw;
}
.ml-4vw{
  margin-left: 4vw;
}
.m-auto{
  margin: auto;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-20vw{
  margin-left: 20%;
  margin-right: 20%;
}
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}
.mx-5vw{
  margin-left: 5%;
  margin-right: 5%;
}
.mt-3{
  margin-top: 30px;
}
.mt-1{
  margin-top: 10px;
}
.mb-1{
  margin-bottom: 10px;
}
/*padding*/
.px-10vw{
  padding-left: 10vw;
  padding-right: 10vw;
}
.px-1vw{
  padding-left: 1vw;
  padding-right: 1vw;
}
.py-5{
  padding-top: 50px;
  padding-bottom: 50px;
}
.px-1{
  padding-left: 10px;
  padding-right: 10px;
}
.px-2{
  padding-left: 20px;
  padding-right: 20px;
}
.px-4{
  padding-left: 40px;
  padding-right: 40px;
}
.px-6{
  padding-left: 60px;
  padding-right: 60px;
}
.py-1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-5vw{
  padding-left: 5%;
  padding-right: 5%;
}
.py-2{
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-105{
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-10{
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-20{
  padding-top: 200px;
  padding-bottom: 200px;
}
/* border */
.bor-b-black{
  border-bottom: 3px solid black;
}
.radius{
  border-radius: 30px 30px;
}
.radius-1{
  border-radius: 10px;
}
/* width */
.wid-1vw-page{
  width: 1vw;
}
.wid-80vw-page{
  width: 80vw;
}
.wid-77vw-page{
  width: 77vw;
}
.wid-37vw-page{
  width: 37vw;
}
.wid-38vw-page{
  width: 38vw;
}
.wid-53vw-page{
  width: 53vw;
}
.wid-54vw-page{
  width: 54vw;
}
.wid-20vw-page{
  width: 20vw;
}
.wid-55vw-page{
  width: 55vw;
}
.wid-60vw-page{
  width: 60vw;
}
.wid-15vw-page{
  width: 15vw;
}
.wid-20vw-page{
  width: 20vw;
}
.wid-30vw{
  width: 30%;
}
.wid-30vw-page{
  width: 30vw;
}
.wid-50vw{
  width: 50%;
}
/* height */
.h-400px{
  height: 400px;
}
.h-100vh-page{
  min-height: 100vh;
}
/* style none btn */
.btn-style-none{
  background: none;
  border: none;
}
.btn-style-go::after{
  content: '>';
}
/* star && like*/
.bg-red{
  background-color: red;
}
.z-20{
  zoom: 20%;
}
.z-75{
  zoom: 75%;
}
.p-absolute-transform{
  position: absolute;
  transform: translate(16%, 17%);
}
.p-relative{
  position: relative;
}

/* .starbox{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.star{
  position: relative;
}
.big{
  position: relative;
  display: block;
  color: #ff0000;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff0000;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.big:after {
  border-bottom: 80px solid #ff0000;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -45px;
  left: -65px;
  display: block;
  transform: rotate(-35deg);
}
.big::before{
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff0000;
  border-left: 100px solid transparent;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 3px;
  left: -105px;
  display: block;
  transform: rotate(-70deg);
}
.small{
  position: relative;
  display: block;
  color: #ffffff;//mohamed
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffffff;//mohamed
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.small:after {
  border-bottom: 80px solid #ffffff;//mohamed
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -45px;
  left: -65px;
  display: block;
  transform: rotate(-35deg);
}
.small::before{
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffffff;//mohamed
  border-left: 100px solid transparent;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 3px;
  left: -105px;
  display: block;
  transform: rotate(-70deg);
} */
/* special class */
.see-more-accueil p{
  width: 97%;
  height: 104.5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.t-transformers-see-more{
  transform: translate(32%, -138%);
}
.p-absolute-tr{
  position: absolute;
  right: 3%;
  top: 7%;
}
.p-absolute-tr-mcdo{
  position: absolute;
  right: 3%;
  top: 7%;
}
.smileXD-max > .smileXD{
  margin: 10px 0 10px 0;
}
.smileXD{
  width: 10vw;
  max-width: 50px;
  border-top: solid black 4.5px;
  border-radius: 30px;
}
.smileXD-half{
  width: 5vw;
  max-width: 25px;
  border-top: solid black 4.5px;
  border-radius: 30px;
}
#body-nav-1{
  display: flex;
}
#body-nav-2{
  display: none;
}
/* input */
#input-star input:checked:before{
  content:url(../images/star-red.png) ;
  zoom: 0.03;
}
#input-star input{
  width: 0%;
}
#input-star input:before{
  content:url(../images/star-white.png) ;
  zoom: 0.03;
}
/* id */

#navUl > li{
  margin: 10px;
}
#components-form-candidature > p{
  line-height: 2.5;
}
#register-components form p{
  margin-top: 20px;
}
#accueil-offers {
  margin: 50px 0 0 0;
}
#accueil-offers > li{
  margin: 0px 0 50px 0;
}
#previously::before {
  content: '<< ';
}
#nextlyXD::after {
  content: ' >>';
}
#previously2::before {
  content: '<< ';
}
#go-back-1::before {
  content: '< ';
}
#nextlyXD2::after {
  content: ' >>';
 
}
#previously2{
  color: grey;
}
#nextlyXD2{
  color: grey;
}
#mcdo{
  display: none;
}

@media (max-width: 900px){
  #form-contact-us .wid-20vw-page{
    width: 1vw;
  }
  #form-contact-us .wid-55vw-page{
    width: 80vw;
  }
  #form-contact-us .ml-1vw{
    margin-left: 6vw;
  }
  #form-contact-us .wid-15vw-page{
    width: 250px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #components-about .wid-30vw{
    width: 100vw;
  }
  #accueil-last-offer{
    width: 100vw;
  }
  #components-contacthome{
    margin-top: 50px;
  }
  #components-contacthome .d-flex{
    display: block;
  }
  #components-contacthome .d-flex div{
    text-align: center;
  }
  #components-contacthome .d-flex button{
    width: 80vw;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 100px;
  }
  #components-contacthome .t-between{
    justify-content: unset;
  }
  #components-contacthome .mx-20vw{
    margin-left: 0;
    margin-right: 0;
  }
  #pagination{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ul #accueil-last-offer{
    margin: 10px 0 10px 0;
  }
  #accueil-offers .wid-30vw{
    width: 100vw;
  }
}
@media (max-width: 800px){
  #body-nav-1{
    display: none;
  }
  #body-nav-2{
    display: block;
    font-size: 16px;
    position: absolute;
    top: 0%;
    width: 100%;
  }
  #mcdo div{
    zoom: 1.5;
    font-weight: 300;
  }
  #mcdo ul{
    font-size: 20px;
    line-height: 40px;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .mb-7{
    margin-bottom: 70px;
  }
}